/* PHONE */

@media (max-width: 768px) {
  .menuBurger {
    position: relative;
    width: 30px;
    height: 4px;
    cursor: pointer;
  }
}

/* COMPUTER */

@media (min-width: 769px) and (min-height: 751px) {
  .menuBurger {
    visibility: hidden;
  }
}

/* HEADER */
.navBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* MENU BURGER AND ANIMATION */

.menuBurger span {
  width: 100%;
  height: 4px;
  margin: 32px 20px;
  background-color: #ffce00;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}

.menuBurger span::before,
.menuBurger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #ffce00;
  transition: transform 0.3s ease-in-out;
}

.menuBurger span::before {
  transform: translateY(-10px);
}

.menuBurger span::after {
  transform: translateY(10px);
}

.menuBurger.active span {
  background-color: transparent;
}

.menuBurger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}

.menuBurger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

/*-----------------------------------*/

/* MENU BURGER HIDDEN PART */
.hiddenMenu {
  display: flex;
  position: fixed;
  background-color: #0058a3;
  width: 100%;
  height: 100%;
  /* padding: 15px; */
  margin-top: 60px;
  justify-content: center;
  transition: transform 0.5s;
  transform: translateX(-1500px);
}

.hiddenMenu.isOpen {
  transform: none;
}

/* TITLE "MENU" MENU BURGER */

.titreMenuHidden {
  text-transform: uppercase;
  flex-direction: column;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
}

li:nth-of-type(2) {
  margin-top: 25px;
}

li {
  list-style-type: none;
  padding: 30px 60px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Noto Sans HK;
  font-weight: 400;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  color: white;
}

/* EFFET JELLY SUR LES LIs DU HIDDEN BURGER MENU*/

.effetLi {
  z-index: 1;
  font-size: 30px;
  font-family: Noto Sans HK;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  background-color: transparent;
}

.effetLi:focus {
  cursor: pointer;
  animation: jelly 0.5s ease-in-out;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/*-----------------------------------*/

.logoIkea {
  width: 130px;
  height: 60px;
  margin: 5px 20%;
}

/* ANIMATION JELLY SUR LE PANIER */

.iconCaddy {
  z-index: 1;
  margin: 21px 21px;
  width: 30px;
}

.iconCaddy:active {
  cursor: pointer;
  animation: jelly 0.5s ease-in-out;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/*-----------------------------------*/

/* DESCRIPTION SUR LE SYSTÈME DE LEVITATION UTILISÉ */

.sectionSystemeLevitation {
  padding: 15% 10%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.bouton1,
.bouton2,
.bouton3 {
  display: flex;
  justify-content: center;
}

.titreSectionArticle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  margin: 30px 0 10px 0;
  text-align: center;
  line-height: 30px;
}

.articleSystemeLevitation1 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 70px;
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.article1 {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

.titreArticle {
  text-transform: uppercase;
  font-weight: 700;
}

.articleSystemeLevitation2 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 70px;
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.article2 {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

.articleSystemeLevitation3 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 70px;
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.article3 {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

.titreArticle {
  font-size: 20px;
  margin: 10px 0;
  color: black;
  text-align: left;
  text-shadow: none;
}

.soustitreArticle {
  font-size: 20px;
  margin: 10px 0;
  color: black;
  text-align: left;
  text-shadow: none;
}

.paragrapheArticle {
  color: black;
  text-align: left;
  text-shadow: none;
}

.buttonArticle {
  height: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 0px;
}

/* CLASS TARGET LOGO SVG */
.reseauxIcons {
  width: 20px;
  height: 20px;
  fill: white;
}

/* DIV LOGO RESEAUX SOCIAUX SVG */
.reseauxSociaux {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
