body {
    font-family: Noto Sans HK;
    width: 100vw;
    min-height: 100vh;
}
  
/* le header entier */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #0058a3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
  
/* le menu burger en entier */
.menuBurger {
    display: block;
    margin: 20px;
    cursor: pointer;
}
  
/* represente chaque mini ligne du menu burger */
.miniDivBurger {
    margin: 5px;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: #ffce00;
}
  
.logoIkea {
    width: 130px;
    height: 60px;
    margin: 5px auto;
}
  
.iconCaddy {
    margin: 25px 25px;
    width: 25px;
}
  
/* la partie cachée du menu burger */
.hiddenMenu {
    display: flex;
    position: fixed;
    background-color: rgba(5, 51, 121, 0.253);
    width: 85%;
    height: 79vh;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-top: 80px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    justify-content: center;
    transition: transform 0.5s;
    transform: translateX(-320px);
}
  
.hiddenMenu.isOpen {
    transform: none;
}
  
  
  /* titre "menu" du menu burger */
.titreMenuHidden {
    text-transform: uppercase;
    flex-direction: column;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 10px;
}
  
li:nth-of-type(2) {
    margin-top: 50px;
  }
  
li {
    list-style-type: none;
    padding: 25px 25px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Noto Sans HK;
    font-weight: 400;
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
    color: white;
    border-bottom: 1px black;
}

/* MA PARTIE À MOAAAAAAAAAAAAAA */

h1 {
    font-size: 30px;
    text-align: center;
}

div.form {
    text-align: center;
}

form {
    display: inline-block;
}

small {
    font-size: 10px;
    color: red;
}

input.submit {
    background: #1266ff;
    border: none;
    border-bottom: 3px solid darken(#1266ff, 15%);
    color: #fff;
    display: inline-block;
    padding: 8px;
    vertical-align: bottom;
    width: 50%;
}

input.submit:hover {
    background: #4c8aff;
}

input.submit:active {
    background: #c9dcff;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

div.mgBot {
    margin-bottom: 5px;
}

div.mgTop {
    margin-top: 5px;
}

small {
    visibility: hidden;
}

small.error {
    visibility: initial;
}

small.country {
    visibility: initial;
}