body {
  font-family: Noto Sans HK;
  width: 100vw;
  min-height: 100vh;
}

/* MA PARTIE À MOAAAAAAAAAAAAAA */

h1 {
  font-size: 30px;
  text-align: center;
}

div.form {
  text-align: center;
}

form {
  display: inline-block;
}

small {
  font-size: 10px;
  color: red;
}
input {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

input.submit {
  background: #1266ff;
  border: none;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  font-weight: bold;
  width: 32vw;
  margin-bottom: 50px;
  margin-top: 30px;
}

input.submit:hover {
  background: #4c8aff;
}

input.submit:active {
  background: #c9dcff;
}

input:invalid {
  border-bottom-color: red;
}

input:valid {
  border-bottom-color: green;
}

div.mgBot {
  margin-bottom: 5px;
}

div.mgTop {
  margin-top: 5px;
}

small {
  visibility: hidden;
}

small.error {
  visibility: initial;
}

small.visible {
  visibility: initial;
}
