/* REGLES GENERALES  */
body {
  font-family: Noto Sans HK;
  width: 100vw;
  min-height: 100vh;
  margin-top: 120px;
}

/* HEADER */
.navBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* MENU BURGER AND ANIMATION */

.menuBurger span {
  width: 100%;
  height: 4px;
  margin: 32px 20px;
  background-color: #ffce00;
  border-radius: 10px;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}

.menuBurger span::before,
.menuBurger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #ffce00;
  transition: transform 0.3s ease-in-out;
}

.menuBurger span::before {
  transform: translateY(-10px);
}

.menuBurger span::after {
  transform: translateY(10px);
}

.menuBurger.active span {
  background-color: transparent;
}

.menuBurger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}

.menuBurger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

/*-----------------------------------*/

/* MENU BURGER HIDDEN PART */
.hiddenMenu {
  display: flex;
  position: fixed;
  background-color: #0058a3;
  width: 100%;
  height: 100%;
  /* padding: 15px; */
  margin-top: 60px;
  justify-content: center;
  transition: transform 0.5s;
  transform: translateX(-1500px);
}

.hiddenMenu.isOpen {
  transform: none;
}

/* TITLE "MENU" MENU BURGER */

.titreMenuHidden {
  text-transform: uppercase;
  flex-direction: column;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
}

li:nth-of-type(2) {
  margin-top: 25px;
}

li {
  list-style-type: none;
  padding: 30px 60px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Noto Sans HK;
  font-weight: 400;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  color: white;
}

/* EFFET JELLY SUR LES LIs DU HIDDEN BURGER MENU*/

.effetLi {
  z-index: 1;
  font-size: 30px;
  font-family: Noto Sans HK;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  background-color: transparent;
}

.effetLi:focus {
  cursor: pointer;
  animation: jelly 0.5s ease-in-out;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/*-----------------------------------*/

.logoIkea {
  width: 130px;
  height: 60px;
  margin: 10px auto;
}

/* ANIMATION JELLY SUR LE PANIER */

.iconCaddy {
  z-index: 1;
  margin: 21px 21px;
  width: 30px;
}

.iconCaddy:active {
  cursor: pointer;
  animation: jelly 0.5s ease-in-out;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/*-----------------------------------*/
.sectionPresentation {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.articlePresentation {
  padding: 5% 10% 15% 10%;
}

/* classe temporaire qui simule la future taille de la photo du mangsidig */
.imgProjet {
  display: flex;
  justify-content: center;
  margin: 10% auto 0;
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  height: 600px;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.figmaProjet {
  width: 100%;
  height: 90%;
  margin: 10% 0 auto;
}

/* NAME PRICE AND DESCRIPTION SECTION PRESENTATION */
.nameProduct {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin: 30px 0 10px 0;
  text-align: center;
}

/* ZONE DE CUSTOMISATION  */

.sectionCustomisation {
  background-color: #0058a3;
  padding: 15% 10%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.sellNow {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  color: #ffce00;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  margin: 30px 0 10px 0;
  text-align: center;
}

.articleCustomisation {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
  height: 450px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.descriptionArea .nameProduct {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin: 50px 0 10px 0;
  text-align: left;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
}

.priceProduct {
  font-weight: 500;
  text-align: right;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
}

.priceProduct strong {
  color: #ffce00;
  font-weight: 900;
}

.formulary h1 {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  color: black;
  text-transform: uppercase;
}

.styleh1 {
  font-weight: 700;
  margin: 30px 0 0 0;
  color: white;
  text-transform: uppercase;
}

.descriptionProduct {
  padding: 10px 0 0 0;
  margin-bottom: 40px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

/* FORMULAIRE */

.formulary form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
}

select {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 80%;
  height: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 5px;
  margin-left: 10%;
  outline: none;
}

.formulary label {
  display: flex;
  color: black;
  font-weight: 400;
  font-size: 15px;
  margin-left: 10%;
}

.formulary span {
  border: 1px black;
}

.button_validation {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn-validation {
  display: flex;
  min-width: 35px;
  font-size: 10px;
  margin: 3% 33%;
  box-shadow: -1px 148px 400px -62px rgba(255, 255, 255, 0.993) inset;
  cursor: pointer;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.btn-validation:hover {
  color: #0058a3;
}

/*-----------------------------------*/

/* DESCRIPTION SUR LE SYSTÈME DE LEVITATION UTILISÉ */

.sectionSystemeLevitation {
  padding: 15% 10%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.bouton1,
.bouton2,
.bouton3 {
  display: flex;
  justify-content: center;
}

.titreSectionArticle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin: 30px 0 30px 0;
  text-align: center;
  line-height: 30px;
}

.articleSystemeLevitation1 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 80px auto 20px;
  /* margin-top: 70px; */
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.article1 {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

.titreArticle {
  text-transform: uppercase;
  font-weight: 700;
}

.articleSystemeLevitation2 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 80px auto 20px;
  /* margin-top: 70px; */
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.article2 {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

.articleSystemeLevitation3 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 80px auto 20px;
  /* margin-top: 50px; */
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.article3 {
  padding: 10px;
  text-align: justify;
  font-weight: 300;
  color: white;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  line-height: 20px;
}

.titreArticle {
  font-size: 20px;
  margin: 10px 0;
  color: black;
  text-align: left;
  text-shadow: none;
}

.soustitreArticle {
  font-size: 20px;
  margin: 10px 0;
  color: black;
  text-align: left;
  text-shadow: none;
}

.paragrapheArticle {
  color: black;
  text-align: left;
  text-shadow: none;
}

.buttonArticle {
  height: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* CLASS TARGET LOGO SVG */
.reseauxIcons {
  width: 20px;
  height: 20px;
  fill: white;
}

/* DIV LOGO RESEAUX SOCIAUX SVG */
.reseauxSociaux {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1023px) {
  .menuBurger span {
    margin: 0;
    width: 30px;
    position: absolute;
    left: 20px;
  }

  .logoIkea {
    position: absolute;
    left: 25%;
  }
}

/* COMPUTER */

@media (min-width: 1024px) and (min-height: 751px) {
  .menuBurger {
    visibility: hidden;
  }

  /* MENU BURGER HIDDEN PART */
  .hiddenMenu {
    position: static;
    background: none;
    width: 100%;
    height: 100%;
    transform: none;
    transition: none;
    margin: 0;
  }

  /* TITLE "MENU" MENU BURGER */

  .titreMenuHidden {
    display: none;
  }

  li {
    list-style-type: none;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    margin: 10px 30px;
    /* text-align: center; */
    font-size: 20px;
  }

  li:hover {
    color: red;
    text-decoration: underline;
  }

  li:nth-of-type(2) {
    margin: 10px 30px;
  }

  ul {
    display: flex;
  }

  .laptop-menu {
    display: none;
  }

  .logoIkea {
    width: 130px;
    height: 60px;
    margin: 5px;
  }

  .sellNow {
    font-size: 3vw;
    margin-bottom: 100px;
  }
}
