/* REGLES GENERALES  */
body {
  font-family: Noto Sans HK;
  width: 100vw;
  min-height: 100vh;
}

/* le header entier */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* le menu burger en entier + animation de sortie X */

.menuBurger {
  position: relative;
  width: 30px;
  height: 4px;
  cursor: pointer;
}

.menuBurger span {
  width: 100%;
  height: 4px;
  margin: 32px 20px;
  background-color: #ffce00;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}

.menuBurger span::before,
.menuBurger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;

  background-color: #ffce00;
  transition: transform 0.3s ease-in-out;
}

.menuBurger span::before {
  transform: translateY(-10px);
}

.menuBurger span::after {
  transform: translateY(10px);
}

.menuBurger.active span {
  background-color: transparent;
}

.menuBurger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}

.menuBurger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

/*-----------------------------------*/

/* la partie cachée du menu burger */
.hiddenMenu {
  display: flex;
  position: fixed;
  background-color: #0057a3d2;
  width: 94%;
  height: 84vh;
  /* padding: 15px; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  justify-content: center;
  transition: transform 0.5s;
  transform: translateX(-1500px);
}

.hiddenMenu.isOpen {
  transform: none;
}

/* titre "menu" du menu burger */

.titreMenuHidden {
  text-transform: uppercase;
  flex-direction: column;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
}

li:nth-of-type(2) {
  margin-top: 25px;
}

li {
  list-style-type: none;
  padding: 30px 60px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Noto Sans HK;
  font-weight: 400;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  color: white;
}

/* EFFET JELLY SUR LES LIs DU HIDDEN BURGER MENU*/

.effetLi {
  z-index: 1;
  font-size: 30px;
  font-family: Noto Sans HK;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  background-color: #0057a3d2;
}

.effetLi:focus {
  cursor: pointer;
  animation: jelly 0.5s ease-in-out;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/*-----------------------------------*/

.logoIkea {
  width: 130px;
  height: 60px;
  margin: 5px 20%;
}

/* ANIMATION JELLY SUR LE PANIER */

.iconCaddy {
  z-index: 1;
  margin: 21px 21px;
  width: 30px;
}

.iconCaddy:active {
  cursor: pointer;
  animation: jelly 0.5s ease-in-out;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/*-----------------------------------*/
.sectionPresentation {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.articlePresentation {
  padding: 5% 10% 15% 10%;
}

/* classe temporaire qui simule la future taille de la photo du mangsidig */
.imgProjet {
  display: flex;
  justify-content: center;
  margin: 10% auto 0;
  margin-top: 20px;
  width: 250px;
  height: 450px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
/* nom prix et description de la section présentation */
.nameProduct {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin: 30px 0 10px 0;
  text-align: center;
}

.priceProduct {
  font-weight: 500;
  text-align: right;
}

.descriptionProduct {
  padding: 20px 0 0 0;
  text-align: justify;
  font-weight: 300;
}

/* ZONE DE CUSTOMISATION  */

.sectionCustomisation {
  background-color: #0058a3;
  padding: 15% 10%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.articleCustomisation {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 30px;
  width: 250px;
  height: 450px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* DESCRIPTION SUR LE SYSTÈME DE LEVITATION UTILISÉ */

.sectionSystemeLevitation {
  padding: 15% 10%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.articleSystemeLevitation1 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 30px;
  width: 250px;
  height: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.articleSystemeLevitation2 {
  background-color: #0058a3;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  margin-top: 30px;
  width: 250px;
  height: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* classe qui cible chaque logo de reseaux svg */
.reseauxIcons {
  width: 20px;
  color: #ffce00;
}

/* la div comprenant l'ensemble des logos de reseaux svg */
.reseauxSociaux {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
