/* REGLES GENERALES  */
body {
  font-family: Noto Sans HK;
  width: 100vw;
  min-height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #00319c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.menuBurger {
  display: block;
  margin: 20px;
  cursor: pointer;
}

.miniDivBurger {
  margin: 5px;
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: #ffce00;
}

.logoIkea {
  width: 130px;
  height: 60px;
  margin: 5px auto;
}

.iconsNav {
  margin: 25px 5px;
  width: 15px;
}

.hiddenMenu {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.39);
  width: 160px;
  margin-top: 70px;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 5px;
}

li {
  list-style-type: none;
  padding: 20px 25px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Noto Sans HK;
  font-weight: 500;
}
