/* REGLES GENERALES  */
body {
  font-family: Noto Sans HK;
  width: 100vw;
  min-height: 100vh;
}


/* le header entier */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* le menu burger en entier */
.menuBurger {
  display: block;
  margin: 20px;
  cursor: pointer;
}



/* represente chaque mini ligne du menu burger */
.miniDivBurger { 
  margin: 5px;
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: #ffce00;
}

.logoIkea {
  width: 130px;
  height: 60px;
  margin: 5px auto;
}

.iconCaddy {
  margin: 25px 25px;
  width: 25px;
}

/* la partie cachée du menu burger */
.hiddenMenu {
  display: flex;
  position: fixed;
  background-color: rgba(5, 51, 121, 0.253);
  width: 85%;
  height: 79vh;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  justify-content: center;
  transition: transform 0.5s;
  transform: translateX(-320px);
}

.hiddenMenu.isOpen {
  transform: none;
}

/* .isXburger {
  transition: transform 500ms ease 0s;
  transform: translate3d(200px, 0, 0);

  
} */

/* titre "menu" du menu burger */
.titreMenuHidden {
  text-transform: uppercase;
  flex-direction: column;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
}

li:nth-of-type(2) {
  margin-top: 50px;
}

li {
  list-style-type: none;
  padding: 25px 25px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Noto Sans HK;
  font-weight: 400;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.55);
  color: white;
  border-bottom: 1px black;
}


.articlePresentation {
  margin: 10%;
}

/* classe temporaire qui simule la future taille de la photo du mangsidig */
.imgProjet {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  width: 250px;
  height: 450px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

}
/* nom prix et description de la section présentation */
.nameProduct {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  margin: 20px 70px 20px 0;

}

.priceProduct {
  font-weight: 500;
  text-align: right;
}

.descriptionProduct {
  margin: 20px 0;
  text-align: justify;
  font-weight: 300;
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #0058a3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}


/* classe qui cible chaque logo de reseaux svg */
.reseauxIcons {
  width: 10px;
}

/* la div comprenant l'ensemble des logos de reseaux svg */
.reseauxSociaux {
  width: 50px;
  height: 100px;
}